//colors

$primary-color: #52267D;
$secondary-color: #FCCB72;
$light-color: #F2F0FA;
$invalid-color: #D36050;
$hover-color:#8567A4;
$input-color: #E5E1F5;
$dark-color: #30174A;
$subtitle-color: #FCCB72;

//media

$middle-desktop: 1680px;
$small-desktop: 1360px;
$tablet: 1250px;
$middle-tablet: 1005px;
$small-tablet: 899px;
$big-phone: 799px;
$phone: 599px;
$small-phone: 399px;

//base

$family: 'Nunito Sans', sans-serif;
$weight: (
        'light': 300,
        'bold': 700);
