
@mixin max-screen($res)
{
  @media screen and (max-width: $res)
  {
    @content;
  }
}

@mixin min-screen($res)
{
  @media screen and (min-width: $res)
  {
    @content;
  }
}

@mixin phone
{
  @media only screen
    and (min-device-width: 319px)
    and (max-device-width: 820px)
    and (orientation: landscape)
  {
    @content
  }
}

