<template>
    <div id="content">
        <div id="firstSection">
            <div class="subtitle">Kam skirtas Akeneo PIM?</div>
            <div class="advantageRow">
                <div class="advantage">
                <img src="../assets/img/pic1.svg" alt="Centralizuokite visą produktų informaciją">
                <p class="advantageText"><strong>Centralizuokite</strong> visą produktų informaciją</p>
            </div>
                <div class="advantage">
                    <img src="../assets/img/pic2.svg" alt="Platinkite produkto duomenis visuose sklaidos kanaluose">
                    <p class="advantageText">Platinkite produkto duomenis <strong>visuose sklaidos kanaluose</strong></p>
                </div>
                <div class="advantage">
                    <img src="../assets/img/pic3.svg" alt="Surinkite tiekėjų informaciją reikiamu formatu">
                    <p class="advantageText">Surinkite tiekėjų informaciją <strong>reikiamu formatu</strong></p>
                </div>
                <div class="advantage">
                    <img src="../assets/img/pic4.svg" alt="Lengvai pritaikykite produktų informaciją skirtingoms kalboms">
                    <p class="advantageText">Lengvai pritaikykite produktų informaciją <strong>skirtingoms kalboms</strong></p>
                </div>
                <div class="advantage">
                    <img src="../assets/img/pic5.svg" alt="Padeda neatsilikti nuo kintančių pirkėjų norų">
                    <p class="advantageText">Padeda neatsilikti nuo <strong>kintančių pirkėjų norų</strong></p>
                </div>
            </div>
        </div>
        <hr class="horizontalLine">
        <div id="secondSection">
            <div class="subtitle">Akeneo PIM nauda</div>
            <div class="Container">
                <div id="Container_imageWrapper">
                    <img class="ellipse4" src="../assets/img/Ellipse4.svg" alt="ellipse4">
                    <img class="ellipse3" src="../assets/img/Ellipse3.svg" alt="ellipse3">
                    <img class="ellipse2" src="../assets/img/Ellipse2.svg" alt="ellipse2">
                    <img class="ellipse1" src="../assets/img/Ellipse1.svg" alt="ellipse1">
                    <img class="ellipse0" src="../assets/img/man.svg" alt="manByPc">
                    <div class="Container_smallImageWrapper">
                        <img class="money" src="../assets/img/money.svg" alt="money">
                        <p class="moneyTitle">Didesnis konversijos rodiklis</p>
                        <img class="clock" src="../assets/img/clock.svg" alt="clock">
                        <p class="clockTitle">Greitesnis produktų pateikimas rinkai</p>
                        <img class="earth" src="../assets/img/earth.svg" alt="earth">
                        <p class="earthTitle">Pereikite į pasaulinę rinką</p>
                        <img class="products" src="../assets/img/products.svg" alt="products">
                        <p class="productsTitle">Išplėskite produktų asortimentą</p>
                        <img class="info" src="../assets/img/info.svg" alt="info">
                        <p class="infoTitle">Nuosekli produkto informacija visuose pardavimo kanaluose</p>
                    </div>
                </div>
            </div>
        </div>
      <div id="additionalSection">
        <div class="subtitle">Top 10 geriausių PIM diegimo praktikų</div>
        <div class="Container">
            <p class="additionalText">
              Ketinate diegti PIM savo įmonėje, bet nežinote, kokių konkrečių veiksmų reikėtų imtis?
              Pasitelkite į pagalbą Top 10 geriausių PIM diegimo praktikų gidą.
            </p>
            <form-2-component></form-2-component>
        </div>
      </div>
        <div id="thirdSection">
            <div class="subtitle">Kas naudoja Akeneo PIM</div>
            <div class="iconContainer">
                <div class="rowIcons">
                   <div class="icon">
                       <div class="small-icon">
                           <img src="../assets/img/lithuania.svg" alt="LT">
                       </div>
                       <img src="../assets/img/libravitalisLogo.svg" alt="libravitalisLogo">
                   </div>
                    <div class="icon">
                        <div class="small-icon">
                            <img src="../assets/img/lithuania.svg" alt="LT">
                        </div>
                        <img src="../assets/img/eurovaistineLogo.svg" alt="euroVaistineLogo">
                    </div>
                    <div class="icon">
                    <img src="../assets/img/pepsiLogo.svg" alt="pepsiLogo">
                     </div>
                    <div class="icon">
                        <img src="../assets/img/lorealLogo.svg" alt="lorealLogo">
                    </div>
                    <div class="icon">
                        <img src="../assets/img/zaraLogo.svg" alt="zaraLogo">
                    </div>
                    <div class="icon">
                        <img src="../assets/img/intelLogo.svg" alt="intelLogo">
                    </div>
                    <div class="icon">
                        <img src="../assets/img/adidasLogo.svg" alt="adidasLogo">
                    </div>
                    <div class="icon">
                        <img src="../assets/img/levisLogo.svg" alt="levisLogo">
                    </div>
                    <div class="icon">
                        <img src="../assets/img/raybanLogo.svg" alt="rayBanLogo">
                    </div>
                    <div class="icon">
                        <img src="../assets/img/m-msLogo.svg" alt="m-msLogo">
                    </div>
                    <div class="icon">
                        <img src="../assets/img/chanelLogo.svg" alt="chanelLogo">
                    </div>
                    <div class="icon">
                        <img src="../assets/img/fedexLogo.svg" alt="fedExLogo">
                    </div>
                    <div class="icon">
                        <img src="../assets/img/bookingLogo.svg" alt="bookingLogo">
                    </div>
                    <div class="icon">
                        <img src="../assets/img/niveaLogo.svg" alt="niveaLogo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Form2Component from "@/components/form2Component";
    export default {
        name: "ContentComponent",
        components: {Form2Component},
    }
</script>

<style lang="scss" scoped>
    @import "../assets/scss/variables";
    @import "../assets/scss/mediaQueries";

    .sections {
        margin:0 10%;
    }
    .main-subtitle {
        display:block;
        color: $primary-color;
        font: {
            family: $family;
            size: 48px;
            weight:map-get($weight, 'bold');
        }
        margin: 100px auto;
        text-align:center;
        border-bottom: 4px solid $subtitle-color;
    }

    #firstSection {
        @extend .sections;
        @include max-screen ($phone) {
                margin: 0;
        }
        .subtitle {
            width:565px;
            @extend .main-subtitle;
            @include max-screen ($big-phone) {
                    font-size: 34px;
                    margin: 50px auto;
                    width: 400px;
            }
            @include max-screen ($phone) {
                    font-size: 26px;
                    height: 35px;
                    width: 310px;
            }
        }
    }

    #secondSection {
        @extend .sections;
        @include max-screen ($phone) {
                margin: 0;
        }
        .subtitle {
            width:420px;
            @extend .main-subtitle;
            @include max-screen ($big-phone) {
                    font-size: 34px;
                    margin: 50px auto;
                    width: 300px;
            }
            @include max-screen ($phone) {
                    font-size: 26px;
                    height: 35px;
                    width: 238px;
            }
        }
    }
    #additionalSection {
      margin: 0;
      @extend .sections;
      @include max-screen ($phone) {
        margin: 0 5%;
      }

      .subtitle {
        width:860px;
        @extend .main-subtitle;
        @include max-screen ($middle-tablet) {
          width: 467px;
        }

        @include max-screen ($big-phone) {
          font-size: 34px;
          margin: 50px auto;
          width: 340px;
        }
        @include max-screen ($phone) {
          font-size: 26px;
          width: 255px;
        }
      }

      .additionalText {
        font: {
          family: $family;
          size: 18px;
          weight:map-get($weight, 'light');
        }
        max-width: 800px;
        margin: 0 auto 100px auto;
        @include max-screen ($small-tablet) {
          max-width: 600px;
        }
      }

      #Form {
        margin: 0 auto;
        width: 800px;
        @include max-screen ($small-tablet) {
          width: 600px;
        }
        @include max-screen ($big-phone) {
          width: 400px;
        }
        @include max-screen ($small-phone) {
          width: 300px;
        }
        iframe {
          width: 100% !important;
        }
      }

    }


    #thirdSection {
        @extend .sections;
        margin-bottom:100px;
        @include max-screen ($phone) {
                margin: 0 0 50px 0;
        }
        @include phone {
                margin-bottom: 50px;
        }
        .subtitle {
            margin-top: 50px;
            width:550px;
            @extend .main-subtitle;
            @include max-screen ($big-phone) {
                    font-size: 34px;
                    margin: 50px auto;
                    width: 390px;
            }
            @include max-screen ($phone) {
                    font-size: 26px;
                    height: 35px;
                    width: 308px;
            }
        }
    }

    .advantageRow {
        display:flex;
        flex-wrap:wrap;
        width:100%;
        justify-content: space-between;
    }
    .advantage {
        width:18%;
        text-align: center;
        margin-bottom: 75px;
        @include max-screen ($big-phone) {
                width: 100%;
                margin-bottom: 40px;
        }
        &:last-of-type {
            @include max-screen ($big-phone) {
                margin-bottom: 25px;
            }
        }
    }

    .advantageText {
        font: {
            family: $family;
            size: 18px;
            weight:map-get($weight, 'light');
        }
        width: 100%;
        margin: 0 auto;
        @include max-screen ($tablet) {
                font-size: 14px;
        }
        @include max-screen ($big-phone) {
                width: 323px;
                height: 49px;
                padding: 0;
                font-size: 18px;
        }
    }

    .horizontalLine {
        border-top: 2px solid $light-color;
        height: 2px;
    }
    .iconContainer {
        width:100%;
        display:flex;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        @include max-screen ($big-phone) {
                padding: 0 10px;
        }
        @include max-screen ($phone) {
                padding: 0;
        }
    }

    .rowIcons {
        height:100%;
        align-items: center;
        display:flex;
        flex-flow:wrap;
        justify-content: center;
        width:90%;
        @include max-screen ($phone) {
                width: 100%;
        }
    }

    .icon {
        width: 186px;
        height: 74px;
        margin: 20px 10px;
        justify-content: center;
        border: 1px solid $input-color;
        border-radius: 4px;
        position:relative;
        @include max-screen ($big-phone) {
                width: 43%;
                height: 65px;
        }
        img {
            @include max-screen ($big-phone) {
                    max-width: 70%;
            }
        }
        &:nth-of-type(4) {
            img {
                @include max-screen ($big-phone) {
                        max-width: 48%;
                }
            }
        }
    }

    .small-icon {
        position:absolute;
        top:-10px;
        right:-10px;
    }
    .Container {
        @include max-screen ($big-phone) {
            height: auto;
        }
    }
    .wrapper {
        position: relative;
        height: 650px;
        width: 650px;
        margin: 0 auto;
    }

    #Container_imageWrapper {
        @extend .wrapper;
        @include max-screen ($tablet) {
                width: 500px;
                height: 500px;
        }
        @include max-screen ($middle-tablet) {
                width: 400px;
                height: 400px;
        }
        @include max-screen ($big-phone) {
                width: 340px;
                height: 1300px;
        }
    }

    .Container_smallImageWrapper {
        @extend .wrapper;
        @include max-screen ($big-phone) {
                width: 340px;
                top: 300px;
        }
    }

    .ellipse{
        position: absolute;
    }

    .ellipse4 {
        @extend .ellipse;
        top:0;
        left:0;
    }

    .ellipse3 {
        @extend .ellipse;
        top:45px;
        left:45px;
        @include max-screen ($tablet) {
                width: 85%;
                height: auto;
                top: 36px;
                left: 36px;
        }
        @include max-screen ($middle-tablet) {
                top: 30px;
                left: 30px;
        }
        @include max-screen ($big-phone) {
                width: 90%;
                top: 18px;
                left: 18px;
        }
    }

    .ellipse2 {
        @extend .ellipse;
        top:80px;
        left:80px;
        @include max-screen ($tablet) {
                width: 70%;
                height: auto;
                top: 75px;
                left: 75px;
        }
        @include max-screen ($middle-tablet) {
                top: 63px;
                left: 63px;
        }
        @include max-screen ($big-phone) {
                width: 70%;
                top: 55px;
                left: 55px;
        }
    }

    .ellipse1 {
        @extend .ellipse;
        top:120px;
        left:120px;
        @include max-screen ($tablet) {
                width: 55%;
                height: auto;
                top:105px;
                left: 115px;
        }
        @include max-screen ($middle-tablet) {
                width: 54%;
                top: 100px;
                left: 95px;
        }
        @include max-screen ($big-phone) {
                width: 55%;
                top: 80px;
                left: 80px;
        }
    }

    .ellipse0 {
        @extend .ellipse;
        top:120px;
        left:0;
        @include max-screen ($tablet) {
                top:100px;
        }
        @include max-screen ($middle-tablet) {
                top: 95px;
        }
        @include max-screen ($big-phone) {
                top: 80px;
        }
    }

    .money {
        position:absolute;
        top:60px;
        left:50px;
        @include max-screen ($middle-tablet) {
                width: 20%;
                top: 60px;
                left: 30px;
        }
        @include max-screen ($big-phone) {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                margin-bottom: 10px;
                width: 45%;
        }
    }
    .clock {
        position:absolute;
        top:250px;
        left:-80px;
        @include max-screen ($middle-tablet) {
                width: 20%;
                top: 200px;
                left: -65px;
        }
        @include max-screen ($big-phone) {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                margin-bottom: 10px;
                width: 45%;
        }
    }
    .earth {
        position: absolute;
        top: 510px;
        left: 10px;
        @include max-screen ($tablet) {
                top: 410px;
                left: 30px;
        }
        @include max-screen ($middle-tablet) {
                width: 20%;
                top: 340px;
                left: 30px;
        }
        @include max-screen ($big-phone) {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                margin-bottom: 10px;
                width: 45%;
        }
    }

    .info {
            position: absolute;
            top: 500px;
            left: 400px;
            @include max-screen ($tablet) {
                    top: 350px;
                    left: 320px;
                    width: 25%;
            }
            @include max-screen ($middle-tablet) {
                    width: 20%;
                    top: 300px;
                    left: 245px;
            }
            @include max-screen ($big-phone) {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 0;
                    margin-bottom: 10px;
                    width: 45%;
            }
    }

    .products {
            position: absolute;
            top: 180px;
            left: 520px;

            @include max-screen ($tablet) {
                    top: 150px;
                    left: 395px;
                    width: 25%;
            }
            @include max-screen ($middle-tablet) {
                    width: 20%;
                    top: 130px;
                    left: 320px;
            }
            @include max-screen ($big-phone) {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 0;
                    margin-bottom: 10px;
                    width: 45%;
            }
    }

    .allTitle {
            display: block;
            color: $primary-color;
            font: {
                family: $family;
                size: 18px;
                weight: map-get($weight, 'bold');
            }
            margin: 0 auto;
            text-align: center;
            border: 4px solid $light-color;
            border-radius: 40px;
            height: 64px;
            padding: 0 20px;
            position: absolute;
            @include max-screen ($middle-tablet) {
                font-size: 15px;
                height: 52px;
            }
            @include max-screen ($big-phone) {
                font-size: 18px;
                height: 64px;
            }
    }

    .moneyTitle {
            @extend .allTitle;
            top: 68px;
            left: -180px;
            width: 234px;

            @include max-screen ($tablet) {
                    top: 40px;
                    left: -180px;
            }
            @include max-screen ($middle-tablet) {
                    top: 40px;
                    left: -165px;
                    width: 200px;
            }
            @include max-screen ($big-phone){
                    width: 324px;
                    margin-bottom: 50px;
                    position: relative;
                    left: 0;
                    top: 0;
                    padding: 0 50px;
            }
    }

    .clockTitle {
            @extend .allTitle;
            top: 263px;
            left: -280px;
            width: 228px;

            @include max-screen ($tablet) {
                    top: 350px;
                    left: -200px;
            }
            @include max-screen ($middle-tablet) {
                    top: 270px;
                    left: -190px;
                    width: 200px;
            }
            @include max-screen ($big-phone) {
                    width: 324px;
                    margin-bottom: 50px;
                    position: relative;
                    left: 0;
                    top: 0;
                    padding: 0 50px;
            }
    }

    .earthTitle {
            @extend .allTitle;
            top: 520px;
            left: -150px;
            width: 184px;

            @include max-screen ($tablet) {
                    top: 470px;
                    left: -105px;
            }
            @include max-screen ($middle-tablet) {
                    top: 400px;
                    left: -90px;
                    width: 170px;
            }
            @include max-screen ($big-phone) {
                    width: 324px;
                    margin-bottom: 50px;
                    position: relative;
                    left: 0;
                    top: 0;
                    padding: 0 80px;
            }
    }

     .infoTitle {
            @extend .allTitle;
            top: 520px;
            left: 620px;
            width: 314px;

            @include max-screen ($tablet) {
                top: 450px;
                left: 400px;
            }
             @include max-screen ($middle-tablet) {
                    top: 380px;
                    left: 300px;
                    width: 260px;
            }
            @include max-screen ($big-phone){
                     width: 324px;
                     margin-bottom: 50px;
                     position: relative;
                     left: 0;
                     top: 0;
            }
     }

     .productsTitle {
            @extend .allTitle;
            top: 200px;
            left: 730px;
            width: 224px;

            @include max-screen ($tablet) {
                    top: 220px;
                    left: 505px;
            }
            @include max-screen ($middle-tablet) {
                    top: 190px;
                    left: 410px;
                    width: 190px;
            }
            @include max-screen ($big-phone){
                    width: 324px;
                    margin-bottom: 50px;
                    position: relative;
                    left: 0;
                    top: 0;
                    padding: 0 50px;
            }
     }

</style>