<template>
    <transition appear :name="transitionName">
        <div class="Cookie" v-if="isOpen">
            <slot :accept="accept" :close="close" :open="open">
                <div class="Cookie__content">
                    <p class="message">{{ message }}
                        <router-link to="/privatumo_politika" rel="noopener" class="messageLink">privatumo politikoje.</router-link>
                    </p>
                </div>
                <button class="Cookie__button" @click="accept">{{ buttonTextAccept }}</button>
            </slot>
        </div>
    </transition>
</template>

<script>
    const STORAGE_TYPES = {
        local: 'localStorage',
        cookies: 'cookies'
    };
    export default {
        name: 'cookie',
        props: {
            transitionName: {
                type: String,
                default: 'fade'
            },
            buttonTextAccept: {
                type: String,
                default: 'Sutinku'
            },
            buttonClass: {
                type: String,
                default: 'Cookie__button'
            },
            message: {
                type: String,
                default: 'Siekdami pagerinti Jūsų naršymo kokybę, statistiniais ir rinkodaros tikslais šioje svetainėje naudojame slapukus. \n' +
                    'Paspaudę mygtuką "Sutinku" arba naršydami toliau patvirtinate savo sutikimą su slapukų įrašymu. Sutikimą bet kada galėsite \n' +
                    'atšaukti, pakeisdami interneto naršyklės nustatymus ir ištrindami slapukus. Daugiau apie slapukus ir jų atsisakymą skaitykite '
            },
            storageName: {
                type: String,
                default: 'cookie:accepted'
            },
            storageType: {
                type: String,
                default: STORAGE_TYPES.local
            }
        },
        data () {
            return {
                supportsLocalStorage: true,
                isOpen: false
            }
        },
        computed: {
            canUseLocalStorage () {
                return this.storageType === STORAGE_TYPES.local && this.supportsLocalStorage
            },
        },
        created () {
            if (this.storageType === STORAGE_TYPES.local) {
                // Check for availability of localStorage
                try {
                    const test = '__vue-cookie-check-localStorage';
                    window.localStorage.setItem(test, test);
                    window.localStorage.removeItem(test)
                } catch (e) {
                    console.log('Local storage is not supported, falling back to cookie use');
                    this.supportsLocalStorage = false
                }
            }
            if (!this.getVisited() === true) {
                this.isOpen = true
            }
        },
        methods: {
            setVisited () {
                if (this.canUseLocalStorage) {
                    localStorage.setItem(this.storageName, true)
                } else {
                   this.$cookies.set("cookie", "value")
                }
            },
            getVisited () {
                if (this.canUseLocalStorage) {
                    return localStorage.getItem(this.storageName)
                } else {
                  this.$cookies.get("cookie")
                }
            },
            accept () {
                this.setVisited();
                this.isOpen = false;
                this.$emit('accept')
            },
            close () {
                this.isOpen = false
            },
            open () {
                if (!this.getVisited() === true) {
                    this.isOpen = true
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/scss/variables";
    @import "../assets/scss/mediaQueries";

    .Cookie {
        position: fixed;
        overflow: hidden;
        box-sizing: border-box;
        z-index: 9999;
        background: #F2F0FA;
        bottom: 30px;
        left: 30px;
        right: 30px;
        height: 110px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        border-radius: 8px;

        @include max-screen ($tablet) {
            height: 110px;
        }
        @include max-screen ($small-tablet) {
            height: 180px;
            justify-content: space-between;
            align-items: baseline;
            flex-direction: column;
        }
        @include max-screen ($phone) {
            height: 220px;
        }
        @include max-screen ($small-phone) {
            height: 270px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }
    }

    .message {
        color: #000000;
        background: #F2F0FA;
        font: {
            family: $family;
            size: 12px;
        }
        text-align:justify;
        margin-right:20px;
    }

    .Cookie__content {
        @extend .message;
        flex:1;
        @include max-screen ($tablet) {
            margin-right:30px;
            width: 600px;
        }
        @include max-screen ($small-tablet) {
            margin-right:0;
            width:100%;
        }
    }

    .messageLink {
        color:#52267D !important;
        text-decoration: none !important;
        font-weight: bold;
        text-transform: uppercase;
        &:hover, &:active, &:link, &:visited {
            opacity:1;
        }
    }

    .Cookie__button {
        background-color: #52267D;
        width: 204px;
        height: 50px;
        border: 1px solid #52267D;
        border-radius: 4px;
        color: #ffffff;
        font-family: "Nunito Sans", sans-serif;
        font-size: 18px;
        cursor: pointer;
        margin:0 auto;

        &:hover, &:active, &:link, &:visited {
            background-color: #9452BA;
            border: 1px solid #9452BA;
            color:#ffffff;
        }
    }

    .fade-enter-active, .fade-leave-active {transition: opacity .5s}
    .fade-enter, .fade-leave-to {opacity: 0}

</style>