<template>
    <div id="footer">
        <div class="picturesContainer">
            <img class="picturesHead" src="../assets/img/head.svg" alt="head">
            <img class="picturesHeads" src="../assets/img/heads.svg" alt="heads">
            <img class="picturesTail" src="../assets/img/tail.svg" alt="tail">
        </div>
        <div id="footerTitle">Norite sužinoti daugiau ar išbandyti?</div>
        <div class="formContainer" ref="form">
            <form-app></form-app>
        </div>
        <div class="info">akeneo.lt - powered by
            <a href="https://emotion.lt" target="_blank">
                <img src="../assets/img/emotionLogo.svg" alt="emotionLogo">
            </a>
        </div>
        <div class="link-wrapper">
            <router-link to="/privatumo_politika" rel ="noopener noreferrer" class="link">Privatumo nuostatos</router-link>
        </div>
    </div>

</template>

<script>
    import formComponent from "@/components/formComponent";

    export default {
        name: "FooterComponent",
        components: {
            'form-app': formComponent,
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/scss/variables";
    @import "../assets/scss/mediaQueries";

    #footer {
        background: $primary-color;
        height: auto;
        width:100%;
    }

    #footerTitle {
        color: #ffffff;
        font: {
            family: $family;
            size: 48px;
            weight:map-get($weight, 'bold');
        }
        width:638px;
        text-align:center;
        margin: 0 auto;
        padding:75px 0;
        line-height: 58px;
        @include max-screen ($phone) {
                font-size: 26px;
                line-height: 32px;
                width:324px;
                height:67px;
        }
    }

    .picturesContainer {
        width:950px;
        /*height: auto;*/
        position: relative;
        margin: 0 auto;
        @include max-screen ($tablet) {
                width: 900px;
        }
        @include max-screen ($small-tablet) {
                display: none;
        }
    }

    .ziggyParts {
        position:absolute;
        display: block;
        height: auto;
    }

    .picturesHead {
        @extend .ziggyParts;
        top:120px;
        left:9%;
        width:26%;
        @include max-screen ($tablet) {
                top:139px;
                left:18%;
                width:23%;
        }
    }

    .picturesHeads {
        @extend .ziggyParts;
        top:110px;
        left:-20%;
        width:70%;
        @include max-screen ($tablet) {
                top:130px;
                left:-9%;
                width:60%;
        }
    }

    .picturesTail {
        @extend .ziggyParts;
        top:597px;
        left:78%;
        width:25%;
        @include max-screen ($tablet) {
                top:620px;
                left:72%;
                width:20%;
        }
    }

    .formContainer {
        background:#ffffff;
        width: 600px;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 0 40px $dark-color;
        margin:0 auto;
        padding: 50px 50px 10px 50px;
        position:relative;
        z-index:2;
        @include max-screen ($tablet) {
          width: 400px;
        }
        @include max-screen ($big-phone) {
          width: 400px;
        }
        @include max-screen ($small-phone) {
          width: 300px;
        }

        #Form2 {
          width: 100%;
          iframe {
            width: 100%;
          }
        }
    }

    .info {
        color: #ffffff;
        font: {
            family: $family;
            size: 18px;
            weight:map-get($weight, 'light');
        }
        text-align:center;
        margin: 0 auto;
        padding: 25px 0;
    }
    .link-wrapper {
        height: 50px;
        width: 200px;
        margin:0 auto;

        .link {
            color: #ffffff;
            font: {
                family: $family;
                size: 16px;
                weight:map-get($weight, 'light');
            }
            text-align:center;
            margin: 0 auto;
            display: block;
        }
    }



</style>