<template>
  <div v-once id="Form2"></div>
</template>

<script>

export default {
  name: "FormComponent",
  mounted() {
    let script = document.createElement('script');
    script.setAttribute('charset', 'utf-8');
    script.setAttribute('type','text/javascript');
    script.setAttribute('src','//js.hsforms.net/forms/shell.js');
    document.body.appendChild(script);
    script.addEventListener("load", () => {
      if (window.hbspt) {
        window.hbspt.forms.create({
          portalId: "8052672",
          formId: "1023159d-b47c-401f-a09e-c324e3a648d7",
          target: "#Form2"
        })
      }
    })
  }
}
</script>