<template>
  <div v-once id="Form"></div>
</template>

<script>

export default {
  name: "form2Component",
  mounted() {
    let script = document.createElement('script');
    script.setAttribute('charset', 'utf-8');
    script.setAttribute('type','text/javascript');
    script.setAttribute('src','//js.hsforms.net/forms/shell.js');
    document.body.appendChild(script);
    script.addEventListener("load", () => {
      if (window.hbspt) {
        window.hbspt.forms.create({
          portalId: "8052672",
          formId: "a0a0d2d3-8726-4122-8756-ad1bcbbc8c72",
          target: "#Form"
        })
      }
    })
  }
}
</script>
