<template>
    <div>
       <div id="headerContainer">
              <div id="headerPicture"></div>
              <div id="headerContainer-mcontainer">
              <div id="headerContainer-main">
                    <header class="headerContainer-navbar">
                        <div class="navbar-brand">
                            <router-link to="/">
                                <img src="../assets/img/akeneoLogo.svg" alt="akeneo-logo">
                            </router-link>

                        </div>
                        <button class="navbar-button" @click="scrollDown()">Susisiekite</button>
                    </header>
                   <div class="title">
                       <span class="purple">Akeneo PIM</span> - profesionalus įrankis produktų informacijai valdyti
                   </div>
             </div>
           </div>
       </div>
    </div>
</template>

<script>

export default {
    name: 'HeaderComponent',
    data() {
        return {
            window: {
                width: 0
            }
        }
    },
    methods: {
        scrollDown () {
            window.scrollTo(0,document.body.scrollHeight);
        }
    }
}
</script>


<style lang="scss" scoped>
    @import "../assets/scss/variables";
    @import "../assets/scss/mediaQueries";

    #headerContainer {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        overflow:hidden;
    }

    #headerContainer-mcontainer {
        height:525px;
        background: $light-color;
        @include phone {
                height:354px;
        }
    }

    #headerPicture {
        background: url('../assets/img/header.png') no-repeat 50% 0;
        background-size: contain;
        mix-blend-mode: multiply;
        width:100%;
        height:680px;
        position: absolute;
        z-index: 1;
        right:0;
        @include max-screen ($tablet) {
                margin-top:80px;
                width:1025px;
                min-width:1025px;
                right:0;
        }
        @include max-screen ($big-phone) {
                margin-top:170px;
                height:458px;
                width:813px;
                min-width:813px;
        }
        @include phone {
                margin-top:0;
                height:458px;
                width:813px;
                min-width:813px;
        }
    }

    #headerContainer-main {
        display: flex;
        height: 70%;
        flex: {
            wrap: nowrap;
            direction:column;
        }
        padding: 5.5vh 20px 0 50px;
        margin:0 auto;
        max-width:1100px;
        justify-content: space-between;
        align-content: space-between;
        @include min-screen($middle-desktop) {
            height: 85%;
        }
        @include max-screen ($tablet) {
                padding:5.5vh 0 0 0;
                margin:0 50px;
        }
        @include max-screen ($big-phone) {
                padding: 6vh 0 0;
        }
        @include max-screen ($phone) {
                padding: 5.5vh 0 10vh;
                margin: 0 25px;
        }
        @include max-screen ($small-phone) {
                margin: 0 10px;
        }
        @include phone {
                height:300px;
        }
    }

    .headerContainer-navbar {
        height:auto;
        width:100%;
        z-index:1;
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        justify-content:space-between;
        margin: 0 auto;
    }

    .navbar-button {
        background-color: $primary-color;
        width:204px;
        height:50px;
        border:1px solid $primary-color;
        border-radius:4px;
        color:#ffffff;
        font: {
            family: $family;
            size:18px;
        }
        cursor: pointer;
        right:0;

        @include max-screen ($big-phone) {
                width: 154px;
                height: 40px;
        }

        &:hover, &:active, &:link, &:visited {
            background-color: #9452BA;
            border: 1px solid #9452BA;
            color:#ffffff;
        }
    }

    .navbar-brand {
        @include max-screen ($big-phone) {
                width: 130px;
                height: 28px;
        }
        a {
            display: flex;
            align-items: center;
        }
    }

    .title {
        font: {
            family: $family;
            size:60px;
        }
        color:#000000;
        z-index:1;
        width: 750px;
        @include max-screen ($middle-desktop) {
            font-size: 3vw;
            width: 650px;
        }
        @include max-screen ($small-desktop) {
            width: 500px;
        }
        @include max-screen ($tablet) {
            margin-left:100px;
        }
        @include max-screen ($middle-tablet) {
            font-size: 38px;
            margin-left:10px;
        }
        @include max-screen ($small-tablet) {
             font-size: 35px;
             width: 400px;
             height: 146px;
        }
        @include max-screen ($phone) {
             font-size: 32px;
             width: 350px;
        }
        @include max-screen ($small-phone) {
              font-size: 30px;
              width: 324px;
              height: 146px;
              text-align: center;
        }
        @include phone {
               font-size: 30px;
               width: 324px;
               height: 146px;
               margin-left:-25px;
        }
    }
    .purple {
        color:$primary-color;
    }

</style>
