<template>
    <div>
        <header-section></header-section>
        <content-section></content-section>
        <footer-section></footer-section>
    </div>
</template>

<script>
    import HeaderComponent from './HeaderComponent'
    import FooterComponent from './FooterComponent'
    import ContentComponent from './ContentComponent'

    export default {
        name: "mainpage",
        components: {
            'header-section': HeaderComponent,
            'footer-section': FooterComponent,
            'content-section': ContentComponent

        }
    }
</script>

<style scoped>

</style>