<template>
    <div>
        <header-section></header-section>
        <div class="term-section">
            <div class="subtitle">Privatumo politika</div>
            <div>
                <p class="privacyText">Atnaujinta: 2020-05-29</p>
                <p class="privacyText">Ši privatumo politika taikoma tik šioje svetainėje surinktai informacijai, išskyrus atvejus, kai nurodyta kitaip. Čia nurodoma:</p>
                <ul class="privacyList">
                    <li>Kokia informacija yra renkama</li>
                    <li>Su kuo ja dalijamasi</li>
                    <li>Kaip tai gali būti taisoma</li>
                    <li>Kaip tai apsaugota</li>
                </ul>
                <p class="privacyText"><strong>Informacijos rinkimas, naudojimas ir dalijimasis ja</strong></p>
                <p class="privacyText">Mes esame vieninteliai šioje svetainėje surinktos informacijos savininkai. Mes turime prieigą tik prie informacijos,
                    kurią jūs savanoriškai suteikiate mums el. paštu, naudodamiesi šios svetainės kontaktine forma ar kitu tiesioginiu kontaktiniu būdu.
                    Mes niekam šios informacijos neparduodame ir neišnuomojame.</p>
                <p class="privacyText">Mes naudosime jūsų informaciją tik atsakydami jums dėl priežasties, dėl kurios jūs susisiekėte su mumis.
                    Mes nesidalinsime jūsų informacija su jokioms trečiosioms šalims, nepriklausančioms mūsų organizacijai.</p>
                <p class="privacyText">Jei kreipsitės į mus naudodamiesi kontaktine forma, esančia mūsų svetainėje, ateityje galime susisiekti
                    su jumis el. paštu, norėdami papasakoti apie naujus produktus ar paslaugas ar šios privatumo politikos pakeitimus.</p>
                <p class="privacyText"><strong>Jūsų prieiga prie informacijos ir jos kontrolė</strong></p>
                <p class="privacyText">Jūs bet kuriuo metu galite atsisakyti mūsų kontaktų ateityje. Tai galite padaryti bet kuriuo metu
                    susisiekę su mumis el. pašto adresu arba telefono numeriu, pateiktu mūsų svetainėje:</p>
                <ul class="privacyList">
                    <li>Peržiūrėti, kokius duomenis apie jus turime, jei tokių yra.</li>
                    <li>Pakeisti / ištaisyti bet kokius duomenis apie jus.</li>
                    <li>Ištrinti visus turimus duomenis apie jus.</li>
                    <li>Išreikšti bet kokį susirūpinimą dėl to, kaip naudojame jūsų duomenis.</li>
                </ul>
                <p class="privacyText"><strong>Saugumas</strong></p>
                <p class="privacyText">Mes imamės atsargumo priemonių tam, kad apsaugotume jūsų informaciją.</p>
                <p class="privacyText">Prieiga prie asmenį identifikuojančios informacijos suteikiama tik tiems darbuotojams,
                    kuriems reikia informacijos konkrečiam darbui atlikti (pvz., sąskaitoms apmokėti ar klientų aptarnavimui).
                    Kompiuteriai / serveriai, kuriuose mes saugome asmenį identifikuojančią informaciją, yra laikomi saugioje aplinkoje.</p>
                <p class="privacyText"><strong>Slapukai (cookies)</strong></p>
                <p class="privacyText">Šioje svetainėje naudojame „slapukus“. Slapukas yra duomenų dalis, saugoma svetainės lankytojų kietajame diske,
                    siekiant padėti mums pagerinti jūsų prieigą prie mūsų svetainės ir nustatyti pakartotinius mūsų svetainės lankytojus.
                    Slapukai leidžia mums sekti ir orientuotis į vartotojų interesus tam, kad pagerintume jų patirtį mūsų svetainėje.
                    Slapuko naudojimas jokiu būdu nėra susijęs su jokia asmeniškai identifikuojama informacija mūsų svetainėje.</p>
                <p class="privacyText"><strong>Sutikimas naudoti slapukus</strong></p>
                <p class="privacyText">Jei nenorite, kad būtų stebima jokia informacija, slapukus galite išjungti naudodami savo naršyklės meniu „Nustatymai“.</p>
                <p class="privacyText"><strong>Pranešimai apie pakeitimus</strong></p>
                <p class="privacyText">Kai bus padaryti esminiai privatumo pranešimo pakeitimai, jie atsispindės šiame puslapyje. Žiūrėkite įsigaliojimo datą, nurodytą šio dokumento viršuje</p>
                <p class="privacyText"><strong>Kitos nuostatos</strong></p>
                <p class="privacyText">Jei manote, kad nesilaikome šios privatumo politikos, turėtumėte nedelsdami susisiekti su mumis telefonu +370 618 66230 arba
                    el. paštu: akeneo@emotion.lt</p>
            </div>
        </div>
        <footer-section></footer-section>
    </div>
</template>

<script>
    import HeaderComponent from './HeaderComponent'
    import FooterComponent from './FooterComponent'

    export default {
        name: "TermsAndCondition.vue",
        components: {
            'header-section': HeaderComponent,
            'footer-section': FooterComponent
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/scss/variables";
    @import "../assets/scss/mediaQueries";

    .term-section {
        margin:0 10%;
    }

    .subtitle {
        display:block;
        color: $primary-color;
        font: {
            family: $family;
            size: 48px;
            weight:map-get($weight, 'bold');
        }
        margin: 100px auto;
        text-align:center;
        border-bottom: 4px solid $subtitle-color;
        width:405px;

        @include max-screen ($big-phone) {
            font-size: 34px;
            margin: 50px auto;
            width: 290px;
        }
        @include max-screen ($phone) {
            font-size: 26px;
            height: 35px;
            width: 220px;
        }
    }

    .privacy {
        font: {
            family: $family;
            size: 18px;
            weight:map-get($weight, 'light');
        }
        margin-bottom:20px;
        text-align:justify;

        @include max-screen ($tablet) {
            font-size: 14px;
        }
    }

    .privacyText {
        @extend .privacy;
        @include max-screen ($phone) {
            font-size:14px;
        }

    }

    .privacyList {
        @extend .privacy;
        padding:0 50px;
        list-style:disc inside;
        @include max-screen ($phone) {
            font-size:14px;
            padding:0 25px;
        }
    }


</style>