<template>
  <div id="app">
    <cookie></cookie>
    <router-view/>


  </div>
</template>

<script>
  import cookie from '@/components/cookie.vue'

export default {
  name: 'app',
  components: {
    cookie
  }

}
</script>

<style>

  #app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    overflow-x: hidden;
  }

</style>
